// MAIN
body {
  color: $primary-text-color;
  background-color: $primary-white-color;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.botton {
  color: $primary-white-color;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $primary-white-color;
    color: $accent-color;
    outline-color: $accent-color;
  }
}

.section-title {
  color: $title-text-color;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.social-links {
  display: flex;
  justify-content: space-evenly;

  & .link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .link:hover,
  & .link:focus {
    background-color: $accent-color;
  }
  & .link:hover .icon,
  & .link:focus .icon {
    fill: $primary-white-color;
  }
}

.underline {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    bottom: -94px;
    background-color: #ececec;
  }
}
// end MAIN

// HEADER
.header {
  border-bottom: 1px solid #ececec;
  &.main {
    border-bottom: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.header-menu {
  display: flex;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  padding-top: 24px;
  padding-bottom: 24px;
}

.leiba {
  color: $accent-color;
}

.header-nav {
  display: flex;
  align-items: center;
  & .link {
    color: $title-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.link.current {
  color: $accent-color;
}

.site-nav {
  display: flex;
  margin-left: 86px;
  & .link {
    position: relative;
  }
  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: $accent-color;
  border-radius: 2px;
}

.site-nav .item + .item {
  margin-left: 40px;
}

.contact-list {
  display: flex;
  margin-left: auto;

  & .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .item + .item {
    margin-left: 30px;
  }
}

.header-contact {
  color: $primary-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  & .icon {
    fill: $primary-text-color;
    margin-right: 10px;
    vertical-align: middle;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &:hover .icon,
  &:focus .icon {
    fill: $accent-color;
  }
}
// end HEADER

// FOOTER
.footer {
  background-color: #2f303a;
  color: $primary-white-color;
}

.footer-info {
  display: flex;
  padding-top: 48px;
  padding-bottom: 28px;
  align-items: baseline;
}

.address-block {
  margin-top: 0;
  margin-right: 30px;
  width: calc((100% - 30px * 2) / 12 * 3);
}

.footer .logo {
  color: $primary-white-color;
  font-size: 22px;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  margin-bottom: 10px;
}

.address {
  line-height: 1.7;
  font-style: normal;
}

.map-address {
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-bottom: 9px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.links-block {
  margin-right: 30px;
  width: calc((100% - 30px * 2) / 12 * 3);
}

.our.social-links {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.our .item:not(:last-child) {
  margin-right: 10px;
}

.our .link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.our .icon {
  fill: $primary-white-color;
}

.exhortation-block {
  width: calc((100% - 30px) / 2);
}

.exhortation {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  display: block;
  margin-bottom: 21px;
}

.footer-form {
  display: flex;
}

.input {
  background-color: #2f303a;
  color: $primary-white-color;
  width: 350px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 12px;
  margin-right: 12px;

  &:hover,
  &:focus {
    outline-color: $accent-color;
  }
}

.botton.sign {
  display: flex;
  align-items: center;
}

.botton .icon {
  margin-left: 10px;
  fill: $primary-white-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.botton:hover .icon,
.botton:focus .icon {
  fill: $accent-color;
}

.sign {
  font-weight: 900;
  padding: 10px 45px;
}
// end FOOTER

// MODAL
.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.5);
  }
}

.modal {
  max-width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: $primary-white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  & .title {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
    margin-bottom: 30px;
  }
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-color: $accent-color;
    outline-color: $accent-color;
  }
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-label,
.form-input:hover + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  font-size: 12px;
  color: $accent-color;
  border-color: $accent-color;
  transform: translate(-23px, -40px);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-icon,
.form-input:hover ~ .form-icon,
.form-input:not(:placeholder-shown) ~ .form-icon {
  fill: $accent-color;
}

.comment {
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: $accent-color;
    outline-color: $accent-color;
  }
}

// checkbox
.checkbox-field {
  text-align: center;
}

.checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  border: 2px solid $title-text-color;
  border-radius: 2px;

  transform: translateY(2px);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus + .checkbox-icon,
.checkbox:hover + .checkbox-icon {
  border-color: $accent-color;
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: $accent-color;
  background-image: url('../images/check.svg');
  background-size: contain;
  background-origin: border-box;
}

.contract {
  color: $accent-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
// end checkbox

.form-botton {
  border: 1px solid $accent-color;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.close {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  padding: 6px;
  // transform: translate(25%, -25%);
  background: $primary-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  // box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 50%;

  &:hover,
  &:focus {
    // box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    fill: $accent-color;
  }
}
// end MODAL
