// HERO
.hero {
  text-align: center;

  &.overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url('../images/Header.jpg');
    background-color: rgba(47, 48, 58, 0.8);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 646px;
    margin-left: auto;
    margin-right: auto;

    color: $primary-white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
// end HERO

// FEATURES
.features-list {
  display: flex;
  align-items: center;
}

.features-card {
  width: calc((100% - 30px * 3) / 4);
  &:not(:last-child) {
    margin-right: 30px;
  }

  .features-icon {
    background-color: $secondary-bg-color;
    height: 120px;
    border-radius: 4px;
    // overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features-item {
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .features-text {
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 0;
  }
}
// end FEATURES

// WORK
.services-list {
  display: flex;
  align-items: center;

  & .item + .item {
    margin-left: 30px;
  }
}

.services-card {
  position: relative;
  width: 370px;
  // border-radius: 4px;
  // overflow: hidden;

  .services {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
    color: $primary-white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
// end WORK

// OUR TEAM
.team {
  background-color: $secondary-bg-color;
}

.team-list {
  display: flex;
}

.card-member {
  background-color: $primary-white-color;
  width: calc((100% - 30px * 3) / 4);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;

  &:not(:last-child) {
    margin-right: 30px;
  }
  & .social-links {
    margin-bottom: 24px;
  }

  .foto-member {
    margin-bottom: 30px;
  }

  .team-member {
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
  }
}
// end OUR TEAM

// CLIENTS
.clients-list {
  display: flex;
  margin: -15px;

  & .item {
    margin: 15px;
  }

  & .link {
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .icon {
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .link:hover,
  & .link:focus {
    border-color: $accent-color;
    transform: scale(1.2);
  }

  & .link:hover .icon,
  & .link:focus .icon {
    fill: $accent-color;
  }
}
// end CLIENTS
